body {
    margin: 0;
    background-color: rgb(48, 48, 48);
}
.gridcontainer {
    display: grid;
    background-color: black;
    padding: 5px;
    width: 600px;
    height: 600px;
    /* flex-grow: 0; */
}
.box {
    /* flex: 1; */
}