body {
    margin: 0;
    background-color: rgb(48, 48, 48);
}
.gridcontainer {
    display: flex;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    margin: 10px;
    /* gap: 1px; */
}
.box {
    flex: 1;
}
#input {
    color: white;
}